# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/
ENV/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data
*.sqlite3
*.db

# Web
*.map
